/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
}

.left {
  flex: 1;
  padding: 50px;
}

.right img {
  width: 750px;
}

.right {
  flex: 1;
  padding: 50px;
  margin: 8px;
  border-radius: 10px;
}

/* Left Section */
.left h1 {
  font-size: 36px;
  font-weight: 700;
  color: #111;
}

.left p {
  margin: 10px 0 30px;
  color: #666;
  font-family: 'Montserrat', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input[type="email"],
input[type="password"] {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  color: #5F0866;
}

input:focus {
  border-color: #5F0866;
  box-shadow: 0 0 0 2px #c4b5fd;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #555;
}

.options a {
  color: #7c3aed;
  text-decoration: none;
}

.btn {
  background: #5F0866;
  color: #fff;
  padding: 14px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #7c0b85;
}

.register {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}

.register a {
  color: #5F0866;
  text-decoration: none;
}

/* Right Section */
.right {
  display: none; /* Hidden in mobile */
  /* background: linear-gradient(135deg, #a78bfa, #7c3aed); */
  justify-content: center;
  align-items: center;
}

.image-placeholder {
  width: 350px;
  height: 350px;
  border-radius: 16px;
  background: rgba(255,255,255,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
}

/* Responsive */
@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
  .right {
    display: flex;
  }
}
